body {
  padding: 0;
  background: #EBEBEB;
}

p {
  margin-top: 620px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40%;
}

li {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin-left: 40%;
  list-style: none;
  padding-left: 0;
}